<!DOCTYPE html>
<html>

<head>
    <title>Hello WebSocket</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/style.css">


</head>

<body>
<noscript>
    <h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being
        enabled. Please enable
        Javascript and reload this page!</h2>
</noscript>
<div id="main-content" class="container">
    <div class="row">
        <div class="col-md-6">
            <form class="form-inline">
                <div class="form-group">
                    <label for="connect">WebSocket connection:</label>
                    <button id="connect" class="btn btn-default" type="submit">Connect</button>
                    <button id="disconnect" class="btn btn-default" type="submit" disabled="disabled">Disconnect
                    </button>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <form class="form-inline">
                <div class="form-group">
                    <label for="name">What is your name?</label>
                    <input type="text" id="name" class="form-control" placeholder="Your name here...">
                </div>
                <div class="form-group">
                    <label for="toUser">to</label>
                    <input type="text" id="toUser" class="form-control" placeholder="to User">
                </div>
                <div class="form-group">
                    <label for="message">Message</label>
                    <input type="text" id="message" class="form-control" placeholder="message...">
                </div>
                <button id="send" class="btn btn-default" type="button" >Send</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">

            <tr>
                <div>
                    <h3>Chattings</h3>
                </div>
            </tr>

            <div class="container-fluid chat_section" id="chat-box">

            </div>
        </div>
    </div>
</div> <!--html이 렌더링 된 이후에 사용할 수 있다-->

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@7.0.0/bundles/stomp.umd.min.js"></script>
<script src="/app1.js"></script> <!--자바에서는 static에 있어야 한다.-->

<!-- stomp 라이브러리 추가 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.0/sockjs.min.js"></script>
<!-- stomp 라이브러리 추가 -->
</body>

</html>